@media only screen and (max-width: 800px) {
    #Marksheet_Box {
        opacity: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

p {
    margin: 0;
    padding: 0;
}

.ft00 {
    font-size: 17px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #1f2429;
}

.ft01 {
    font-size: 17px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #000000;
}

.ft02 {
    font-size: 17px;
    font-family: Times New Roman;
    color: #000000;
}

.ft03 {
    font-size: 13px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #1f2429;
}

.ft04 {
    font-size: 13px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #000000;
}

.ft05 {
    font-size: 9px;
    font-family: Times New Roman;
    color: #000000;
}

.ft06 {
    font-size: 1px;
    font-family: Times New Roman;
    color: #000000;
}

.ft07 {
    font-size: 11px;
    font-family: ABCDEE+Arial Black;
    color: #1f2429;
}

.ft08 {
    font-size: 11px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #1f2429;
}

.ft09 {
    font-size: 11px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #000000;
}

.ft010 {
    font-size: 11px;
    font-family: ABCDEE+Arial Black;
    color: #1f2329;
}

.ft011 {
    font-size: 11px;
    font-family: ABCDEE+Arial Black;
    color: #000000;
}

.ft012 {
    font-size: 11px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #1f2329;
}

.ft013 {
    font-size: 10px;
    font-family: Times New Roman;
    color: #000000;
}

.ft014 {
    font-size: 17px;
    font-family: ABCDEE+Calibri;
    color: #000000;
}

.ft015 {
    font-size: 11px;
    line-height: 17px;
    font-family: ABCDEE+Lucida Sans Unicode;
    color: #1f2329;
}